$default-color: #333333;
$gray-color: #828282;
$default-color-dark: #1f1d1d;
$default-gray: #fcfcfc;
$default-light: #ffffff;
$primary-color-2: #ff2290;
$primary-color: #5D7AFD;
$primary-color-hover: #596fd3;
$main-promo: #6FCF97;
$main-promo-hover: #60b283;
$sub-gray-color: #E0E0E0;
//Цвета для текста
$pink: #F973FF;
$dark-pink: #ea60df;
