<div class="container">
    <div class="row">
        <div class="col-md-12 main-header">
            <h2>Новинки</h2>
        </div>
    </div>
    <div class="row">
        <div class="horizontal-scroll">
            <div class="hor__item" ng-repeat="i in [1,2,3,4]">

                <div class="offer ">
                    <div class="offer__category">
                        <a href="/">
                            <p class="pink">E-shops</p>
                        </a>
                    </div>
                    <div class="offer__client">
                        <a href="/">
                            <p>Wildberries</p>
                        </a>
                    </div>
                    <div class="offer__image__promo">
                        <a href="/">
                            <p>NEW</p>
                        </a>
                    </div>
                    <div class="offer__image">
                        <a href="/"><img src="/images/image.png" alt="" title=""></a>

                    </div>

                    <div class="offer__header">
                        <a href="">
                            -20% на любую стрижку, укладку, маникюр, педикюр</a>
                    </div>
                    <div class="offer__time">
                        <p>до 23 июня 23:59</p>
                    </div>
                    <div class="offer__add">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


